<hr class="border-yellow-100 border-1 my-8">
<footer class="my-4 flex justify-center">
    <div class="grid grid-cols-3 gap-6">
        <div class="relative flex flex-col items-center space-y-2 hover:-top-1 transition-all duration-200">
            <a href="/"
                class="flex items-center space-x-1 text-yellow-100 font-bold text-lg hover:text-yellow-100 transition">
                <i class="fas fa-gamepad"></i>
                <span>Games</span>
            </a>
        </div>

        <div class="relative flex flex-col items-center space-y-2 hover:-top-1 transition-all duration-200">
            <a href="/about"
                class="flex items-center space-x-1 text-yellow-100 font-bold text-lg hover:text-yellow-100 transition">
                <i class="fas fa-info-circle"></i>
                <span>About</span>
            </a>
        </div>

        <div class="relative flex flex-col items-center space-y-2 hover:-top-1 transition-all duration-200">
            <a href="/privacy-policy"
                class="flex items-center space-x-1 text-yellow-100 font-bold text-lg hover:text-yellow-100 transition">
                <i class="fas fa-shield-alt"></i>
                <span>Privacy</span>
            </a>
        </div>

        <div class="relative flex flex-col items-center space-y-2 hover:-top-1 transition-all duration-200">
            <a href="/term-use"
                class="flex items-center space-x-1 text-yellow-100 font-bold text-lg hover:text-yellow-100 transition">
                <i class="fa-solid fa-scale-balanced"></i>
                <span>Terms</span>
            </a>
        </div>
        <div class="relative flex flex-col items-center space-y-2 hover:-top-1 transition-all duration-200">
            <a href="/contact-us"
                class="flex items-center space-x-1 text-yellow-100 font-bold text-lg hover:text-yellow-100 transition">
                <i class="fas fa-headset"></i>
                <span>Support</span>
            </a>
        </div>
    </div>
</footer>
<script src="https://jsc.mgid.com/site/1037927.js" async></script>
<div data-type="_mgwidget" data-widget-id="1804309"></div>
<script>(function(w,q){w[q]=w[q]||[];w[q].push(["_mgc.load"])})(window,"_mgq");</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById('menu-toggle');
        const navMenu = document.getElementById('navbar-search');

        if (toggleButton && navMenu) {
            toggleButton.addEventListener('click', () => {
                navMenu.classList.toggle('hidden');
            });
        }
    });
</script>
