<div class="text-center mx-auto flex justify-center overflow-hidden my-3">
    <center>
        <div style="font-size:12px; color:black; margin-bottom:4px;">SPONSORED</div>
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
        <script>
            window.googletag = window.googletag || { cmd: [] };
            googletag.cmd.push(function () {
                googletag.defineSlot('/21902364955,23207422491/Cm_moreglance.com_Games_And_Entertainment_Top/Cm_moreglance.com_Games_And_Entertainment_Native', [300, 300], 'div-gpt-ad-1749125895298-1').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>
        <!-- /21902364955,23207422491/Cm_moreglance.com_Games_And_Entertainment_Top/Cm_moreglance.com_Games_And_Entertainment_Native -->
        <div id='div-gpt-ad-1749125895298-1'>
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1749125895298-1'); });
            </script>
        </div>
    </center>
</div>