<div class="text-center mx-auto flex justify-center overflow-hidden my-3">
    <center>
        <div style="font-size:10px; color:white; margin-bottom:4px;">SPONSORED</div>
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
        <script>
            window.googletag = window.googletag || { cmd: [] };
            googletag.cmd.push(function () {
                googletag.defineSlot('/22846411849,23044715016/JBM_jobwaala.in_Native', [300, 300], 'div-gpt-ad-1749534341825-1').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>
        <!-- /22846411849,23044715016/JBM_jobwaala.in_Native -->
        <div id='div-gpt-ad-1749534341825-1' style='min-width: 300px; min-height: 300px;'>
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1749534341825-1'); });
            </script>
        </div>
    </center>
</div>