<div class="text-center mx-auto overflow-hidden my-3 flex justify-center">
    <center>
        <div style="font-size:12px; color:black; margin-bottom:4px;">SPONSORED</div>
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
        <script>
            window.googletag = window.googletag || { cmd: [] };
            googletag.cmd.push(function () {
                googletag.defineSlot('/21902364955,23207422491/Cm_moreglance.com_Games_And_Entertainment_Top/Cm_moreglance.com_Games_And_Entertainment_Rspv_2', [[336, 280], [300, 250]], 'div-gpt-ad-1747301879736-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>

        <!-- /21902364955,23207422491/Cm_moreglance.com_Games_And_Entertainment_Top/Cm_moreglance.com_Games_And_Entertainment_Rspv_2 -->
        <div id='div-gpt-ad-1747301879736-0' style='min-width: 300px; min-height: 250px;'>
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1747301879736-0'); });
            </script>
        </div>
    </center>
</div>