<div id="adContainer">
    <div data-type="_mgwidget" data-widget-id="1804324"></div>
</div>

<script>
    (function (w, q) {
        w[q] = w[q] || [];
        w[q].push(["_mgc.load"]);
    })(window, "_mgq");

    document.querySelector('.back-button').addEventListener("click", function () {
        const adContainer = document.getElementById("adContainer");
        adContainer.style.display = "block";
        (function (w, q) {
            w[q] = w[q] || [];
            w[q].push(["_mgc.load"]);
        })(window, "_mgq");
    });
</script>